

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}


h1 {
    font-size: 50px;
    line-height: 64px;
}

h2 {
    font-size: 45px;
    line-height: 54px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 20px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

body {
    width: 100%;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

/* Header and Navbar */

.logo {
    height: 45px;
    padding-top: 5px;
    padding-left: 0px;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #e6e6ff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;  
}

#navbar li {
    list-style: none;
    padding: 0 20px;
}

#navbar li a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #1b1b1b;
}

#navbar li a:hover,
#navbar li a.active
 {
    color: #888888;
}

/* Main Page */


#poster {
    background-image: url(Images/Poster.jpeg);
    height: 90vh;
    width: 100%;
    background-size: cover;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#poster h4 {
    padding-bottom: 15px;
}

#poster h1 {
    color: #888888;
}

#poster button {
    padding: 12.5px 30px;
    border: 0;
    border-radius: 100px;
    background-color: #5746f0;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
  
#poster button:hover {
    background-color: #5c5fec;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
}
  
#poster button:active {
    background-color: #7064e0;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
}

#features {
    padding-top: 30px;
    text-align: center;
}

#services {
    display: flex;
    align-items: self-start;
    justify-content: space-around;    
}

#services img {  
    width: 60%;
    height: 200px;
    border: 3px solid #e7e8c3;
    border-radius: 8px;
}

#services h6 {
    padding-left: 40px;
    font-size: 16px; 
}

/* featured products */

#featured_products {
    text-align: center;
    padding-top: 25px;
}

.product-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}


.product-card {
    width: 275px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #ffffff;
  }
  
  .product-image {
    width: 100%;
    height: 200px;
    background-image: url('product-image.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .product-details {
    padding: 10px;
  }
  
  .product-title {
    font-size: 18px;
    color: #333333;
    margin: 5px 0;
  }
  
  .product-description {
    font-size: 14px;
    color: #666666;
    margin: 5px 0;
    height: 35;
  }
  
  .product-price {
    font-size: 20px;
    color: #080a0beb;
    margin: 5px 0;
  }
  
  .product-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #5746f0;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .product-button:hover {
    background-color: #0056b3;
  }

  /* Call to action */

  #cta button {
    padding: 12.5px 30px;
    border: 0;
    border-radius: 100px;
    background-color: #5746f0;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

  #cta button:hover {
    background-color: #5c5fec;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
}
  
  #cta button:active {
    background-color: #7064e0;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
}

#cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
    gap: 10px;
    background-image: url(Images/cta.jpeg);
    background-size: cover;
    height: 60vh;
}

.ban-in {
    color: #ffffff;
}

/* Small banners and promotions */

.ban-container {
    display: flex;
    flex: nowrap;
    justify-content: space-evenly;
}
.ban-container {
    padding-top: 50px; 
}

#ban-first {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(Images/sm-banner2.jpeg);
    background-repeat: no-repeat;
    background-size: contain; 
    height: 50vh;
    width: 40%  
}

#sm-ban-in {
    padding-top: 150px;
    text-align: center;
    color: #ffffff;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.9);
}

#text-in-fir {
    font-size: 40px;
    font-family: 'GlacialIndifferenceRegular'; 
    font-weight: bold; 
}

#text-in-sec {
    font-size: 60px;
    font-family: 'GlacialIndifferenceRegular'; 
    font-weight: bold; 
}

#ban-second {
    background-image: url(Images/hey.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#text-in-thr {
    font-size: 60px;
    font-family: 'GlacialIndifferenceRegular'; 
    font-weight: bold; 
    color: #ffffff;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.9);
    padding-top: 160px;
}

.ban-btn {
    padding: 12.5px 30px;
    border: 0;
    border-radius: 100px;
    background-color: #5746f0;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
  
.ban-btn:hover {
    background-color: #5c5fec;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
}
  
.ban-btn:active {
    background-color: #7064e0;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
}

/* Three image banners */

.img-container {
    padding: 50px 96px;
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    
}

.img-container img {
    flex:content;
    width: 20%;
    height: auto;
}

/* Newsletter */

#newsletter {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: #e6e6ff;
}

.newsletter-container {
    padding-top: 20px;
}

#newsletter p {
    color: black;
}

#newsletter p span {
    color: rgb(255, 128, 0);
}

.input-group {
    display: flex;
    align-items: center;
    gap: 0px
  }
  
.input {
    min-height: 50px;
    width: 80%;
    padding: 0 1rem;
    color: #000000;
    font-size: 15px;
    border: 1px solid #5746f0;
    border-radius: 6px 0 0 6px;
    background-color: transparent;
}
  
.button--submit {
    min-height: 50px;
    padding: .5em 1em;
    border: none;
    border-radius: 0 6px 6px 0;
    background-color: #5746f0;
    color: #fff;
    font-size: 15px;
    transition: background-color .3s ease-in-out;
}
  
.button--submit:hover {
    background-color: #5e5dcd;
}

/* Footer */

.fa-brands fa-facebook-f {
    color: #000000;
}

.fa-brands fa-twitter {
    color: #000000;
}

.fa-brands fa-instagram{
    color: #000000;
}

.fa-brands fa-youtube {
    color: #000000;
}

.footer-col {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.footer-ver-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 50px;
}

.foot-icon {
    display: flex;
    gap: 10px;
}

.foot-icon {
    display: flex;
    gap: 10px;
}

.footer-ver-col a {
    text-decoration: none;
    color: #000000;
}

.footer-ver-col a:hover {
    text-decoration: underline;
}

  


  
  






#products-grid-shop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 15px 15px;
    gap: 25px;
}